.schedule {
  padding: 0;
  margin: 0;
  width: 98vw;
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &-info-day {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    h2 {
      padding: 0 15%;
    }
  }

  &-week-days {
    width: 75%;
    height: 100%;
  }
}
