@media only screen and (max-width: 850px) {
  .schedule-week-days {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.schedule {
  padding: 0;
  margin: 0;
  width: 98vw;
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &-info-day {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h2 {
      padding: 0 15%;
    }

    simple-toggle {
      margin-left: 15%;
    }
  }

  week-view {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
  }
}
