<div class="view">
  <div class="view-header">
    <div class="view-header-year">
      <select [(ngModel)]="selectedYear">
        <option *ngFor="let year of years" [value]="year">
          {{ year }}
        </option>
      </select>
    </div>
  </div>
  <div class="schedule-months" *ngIf="showMonthlyView; else daysView">
    <div
      class="schedule-months-month"
      *ngFor="let month of months; let i = index"
      (click)="selectMonth(i)"
    >
      {{ month }}
    </div>
  </div>
  <ng-template #daysView>
    <monthly-days-view
      [selections]="selections"
      (emitMonthlyView)="showMonthlyView = $event; showSelectedDate()"
    ></monthly-days-view>
  </ng-template>
</div>
