<div class="page">
  <form class="form" [formGroup]="form">
    <div class="form-field">
      <span>E-mail:</span>
      <input type="email" formControlName="email" />
    </div>
    <div class="form-field">
      <span>Senha: </span>
      <input type="password" formControlName="password" />
      <small>Senha deve ter no mínimo 6 caracteres</small>
    </div>

    <div class="form-action">
      <button (click)="submit()" [disabled]="form.invalid">Acessar</button>
    </div>
  </form>
</div>
