<dialog #modal class="modal">
  <div class="modal-header">
    <h3>Atenção!</h3>
    <span class="modal-header-close-button" (click)="close()"></span>
  </div>
  <div class="modal-body">
    <strong>Possui um acesso?</strong>
    <span
      >Para agendar um horário é necessário se autenticar ou criar uma
      conta!</span
    >
  </div>
  <div class="modal-footer">
    <button class="modal-footer-btn-login" routerLink="/login">
      Tenho uma conta
    </button>
    <button class="modal-footer-btn-sigin" routerLink="/register">
      Criar uma conta
    </button>
  </div>
</dialog>
